<<<<<<< HEAD
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.carousel-cursor {
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.image {
  width: 50px;
  height: auto;
  display: block;
  border-radius: 50%;
}

.spacer {
  width: 200px;
  height: auto;
  z-index: 0
}


.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  animation: grow 5000ms ease-in-out infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.headshot-image {
  width: 200px;
  height: auto;
  display: block;
  border-radius: 2%;
}
>>>>>>> staging
